/PhotoShare.xcworkspace/xcuserdata/kongfanyi.xcuserdatad/UserInterfaceState.xcuserstate
/PhotoShare.xcodeproj/xcuserdata/kongfanyi.xcuserdatad/xcschemes/PhotoShare.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/kongfanyi.xcuserdatad/xcschemes/Masonry.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/kongfanyi.xcuserdatad/xcschemes/Pods-特写美刻.xcscheme
/.DS_Store
